<!-- place footer here -->
<footer class="section footer-classic context-dark bg-image" style="background: #03989C;">
          <div class="container">
            <div class="row row-30">
              <div class="col-md-4 col-xl-5">
                <div class="pr-xl-4"><a class="brand" href="index.html"><img class="brand-logo-light"
                      src="{{asset('assets/images/logo-envole voyage.png')}}" alt="" width="140" height="37"
                      srcset="images/logo-envole voyage.png2x"></a>
                  <p>Chez Envol Voyage nous savons que
                    voyager est une aventure humaine mais
                    également
                    un engagement financier important
                    pour vous. C'est pourquoi nous
                    mettons un
                    point d'honneur à prendre en compte
                    chacune de vos attentes pour vous
                    aider dans
                    la préparation de votre séjour,
                    circuit ou voyage sur mesure.</p>
                  <!-- Rights-->
                  <p class="rights"><span>©  </span><span class="copyright-year">2022</ span><span> </ span>
                        <span>envolvoyage</ span><span>. </span><span>All
                            Rights Reserved.website edited
                            by Jugurtha Akli</span></p>
                </div>
              </div>
              <div class="col-md-4">
                <h5>Contacts</h5>
                <dl class="contact-list">
                  <dt>Address:</dt>
                  <dd>2 rue Baise Pascal, 75002, Paris</ dd>
                </dl>
                <dl class="contact-list">
                  <dt>email:</dt>
                  <dd><a href="mailto:#">contact@envolvoyage.fr</ a>
                  </dd>
                </dl>
                <dl class="contact-list">
                  <dt>phones:</dt>
                  <dd><a href="tel:#">01 33 20 34 44</a>
                    <span>or</span> <a href="tel:#">01 95
                      21 36
                      45</a>
                  </dd>
                </dl>
              </div>
              <div class="col-md-4 col-xl-3">
                <h5>Links</h5>
                <ul class="nav-list">
                  <li><a href="#">About</a></li>
                  <li><a href="#">Projects</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Contacts</a></li>
                  <li><a href="#">Pricing</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row no-gutters social-container">
            <div class="col"><a class="social-inner" href="#">
                <span class="icon mdi mdi-facebook"></ span><span>Facebook</span>
              </a></div>
            <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-instagram"></ span>
                  <span>instagram
                  </span></a></div>
            <div class="col"><a class="social-inner" href="#">
                <span class="icon mdi mdi-twitter"></ span><span>twitter</span>
              </a></div>
            <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-youtube-play"></ span><span>
                    google</span></a>
            </div>
          </div>
</footer>