{% extends "base.html.twig" %}

{% block title %}Administration des circuits
{% endblock %}

{% block body %}
	<main class="container py-3">
		<section class="row">
			<div class="col-12">
				<h1 style="color: #4d6de6" class="text-center font-weight-bold">Ajouter un circuit</h1>
				{% include "admin/Circuits/_form.html.twig" %}
			</div>
		</section>
	</main>
{% endblock %}