{% extends "base.html.twig" %}

{% block title %}Administration des circuits
{% endblock %}

{% block body %}
	<main class="container">
		<section class="row">
			<div class="col-12">
				<h1>Ajouter un circuit</h1>
				{% include "admin/Circuits/_form.html.twig" %}
			</div>
		</section>
	</main>
{% endblock %}